<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>D:\Deploy</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>

  <Target Name="CustomCollectFiles">
    <Message Text="Adding UI files" importance="high" />
    <ItemGroup>
      <_CustomFiles Include="..\Conference.UI\build\**\*" />
      <FilesForPackagingFromProject Include="%(_CustomFiles.Identity)">
        <DestinationRelativePath>%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>

  <Target Name="MoveFilesToDesignatedDirectory" AfterTargets="CopyAllFilesToSingleFolderForPackage">
    <Message Text="Moving files to API directory" importance="high" />
    <ItemGroup>
      <_CustomMoveFiles Include="$(_PackageTempDir)\Global.asax;
                                  $(_PackageTempDir)\Web.config"/>
      <_CustomMoveBinFiles Include="$(_PackageTempDir)\bin\**"/>
    </ItemGroup>
    <Move SourceFiles="%(_CustomMoveFiles.Identity)" DestinationFolder="$(_PackageTempDir)\API\%(RecursiveDir)" />
    <Move SourceFiles="%(_CustomMoveBinFiles.Identity)" DestinationFolder="$(_PackageTempDir)\API\bin\%(RecursiveDir)" />
    <RemoveDir Directories="$(_PackageTempDir)\bin\" />   
  </Target>
 
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForPackageDependsOn>
      CustomCollectFiles;
      $(CopyAllFilesToSingleFolderForPackageDependsOn);
    </CopyAllFilesToSingleFolderForPackageDependsOn>
  </PropertyGroup>
  
</Project>